<div class="p-3 bg-white table-bordered">
  <div class="mx-auto mb-3">
    <img src="../../../../assets/register/register.png" class="w-100"> </div>
  <div *ngIf="showInfo">
    <app-member-info [mode]="edit"></app-member-info>
  </div>
  <div *ngIf="showRetail | async">
    <app-member-retail [ownerId]="memberId"></app-member-retail>
  </div>
  <div *ngIf="showWholesale | async">
    <app-member-wholesale [ownerId]="memberId"></app-member-wholesale>
  </div>
  <div *ngIf="showDealer | async">
    <app-member-dealer [ownerId]="memberId"></app-member-dealer>
  </div>
</div>
