<div class="preview border rounded w-100 mb-2" [ngClass]="{'preview-store': isStore}">
  <div class="display" *ngIf="hasItem">
    <app-favorite [(isActive)]="item.isFavorite" (changed)="toggleFavorite($event)"
      *ngIf="showFavorite"></app-favorite>
    <div class="display-content product-item" *ngIf="!isStore">
      <div class="product-image">
        <img class="rounded border" [src]="item.imageUrl">
      </div>
      <div class="product-detail">
        <div class="top">
          <h4>{{item.name}}</h4>
        </div>
        <div class="middle">{{item.description}}</div>
        <div class="bottom" [hidden]="isPromotion">{{item.price}}</div>
        <div class="bottom" [hidden]="isProduct">{{item.period}}</div>
      </div>
    </div>
    <div class="display-content store-item" *ngIf="isStore">
      <div class="store-image">
        <img class="rounded" [src]="item.imageUrl">
      </div>
      <div class="store-detail">
        <div class="mt-2">
          <h4>{{item.storeName}}</h4>
        </div>
        <div class="text-truncate text-center px-4"><span> {{item.storeDescription}} </span>
        </div>
        <div class="store-button d-flex justify-content-around my-3 px-4">
          <div><button type="button" class="btn btn-outline-secondary text-red" (click)="goStoreInfo(item.id)">ข้อมูลร้านค้า</button></div>
          <div><button type="button" class="btn btn-outline-secondary text-red">สนใจขายสินค้า</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
