<div class="preview border rounded w-100 mb-2">
  <div class="display" *ngIf="hasItem">
    <app-favorite [(isActive)]="item.isFavorite" (changed)="toggleFavorite($event)" *ngIf="showFavorite"></app-favorite>
    <div class="display-content" [ngClass]="{'store-item': isStore, 'product-item': !isStore}">
      <div [ngClass]="{'product-image': !isStore}">
        <img class="rounded" [src]="item.imageUrl" [ngClass]="{'border': !isStore}">
      </div>
      <div [ngClass]="{'product-detail': !isStore}" [hidden]="isStore">
        <div class="top"><h4>{{item.name}}</h4></div>
        <div class="middle">{{item.description}}</div>
        <div class="bottom" [hidden]="isPromotion">{{item.price}}</div>
        <div class="bottom" [hidden]="isProduct">{{item.period}}</div>
      </div>
    </div>
  </div>
</div>
