.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10.5rem;
  min-width: 15.5rem;
  border-radius: 0.5rem;
  background: white;

  .display {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .display-content {
      color: rgba($color: #000000, $alpha: 0.85);

      &.product-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .product-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 66%;
          bottom: 0;
          padding: 0 1rem;

          img {
            max-height: 9.5rem;
            max-width: 9.5rem;
            padding: 0.35rem;
            margin: 0.45rem 0 0 0.45rem;
          }
        }

        .product-detail {
          position: absolute;
          top: 0;
          left: 33%;
          right: 0;
          bottom: 0;

          .top {
            top: 0;
            position: inherit;
            margin: 0.75rem;
            margin-bottom: 1rem;
          }

          .bottom {
            bottom: 0;
            position: inherit;
            margin: 0.75rem;
          }

          .middle {
            margin: 2.5rem 0.75rem 1rem 0.75rem;
            position: inherit;
          }
        }
      }

      &.store-item {
        text-align: center;

        img {
          max-height: 10.25rem;
          max-width: 100%;
          padding: 0.15rem 1rem;
          margin: 0.15rem 0;
        }
      }
    }
  }
}
