.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 12rem;
  min-width: 15.5rem;
  border-radius: 0.5rem;
  background: white;

  &.preview-store {
    min-height: 18.25rem;
    min-width: 16.8rem;

    &.view {
      min-height: initial;
      min-width: initial;
    }
  }

  &.preview-news {
    height: 10rem;
  }

  .display {

    .favorite {
      position: absolute;
      top: 0;
      right: 0;
    }

    .display-content {
      color: rgba($color: #000000, $alpha: 0.85);

      img {
        cursor: pointer;
      }

      &.product-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .product-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 66%;
          bottom: 0;
          padding: 0 1rem;

          img {
            max-height: 9.5rem;
            max-width: 9.5rem;
            padding: 0.35rem;
            margin: 0.45rem 0 0 0.45rem;
          }
        }

        .product-detail {
          position: absolute;
          top: 0;
          left: 33%;
          right: 0;
          bottom: 0;

          .top {
            top: 0;
            position: inherit;
            margin: 0.75rem;
            margin-bottom: 1rem;
            width: 82%;
            height: 2.25rem;
            font-family: 'rsubold';
            font-size: 1.25rem;
          }

          .bottom {
            bottom: 0;
            position: inherit;
            margin: 0.75rem;
            width: 90%;
            right: 1rem;
            text-align: right;
          }

          .middle {
            position: inherit;
            margin: 3rem 0.75rem 1rem 0.75rem;
            padding-right: 1rem;
            height: 5.5rem;
          }
        }

        .promotion-link {
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 0.7rem 1.65rem;
        }

      }

      &.store-item {
        text-align: center;

        .store-image {
          position: absolute;
          top: 0.0315rem;
          left: 0;
          right: 0;

          img {
            max-height: 9rem;
            min-height: 9rem;
            max-width: 100%;
            padding: 0 1rem;
            margin: 0;
          }

          &.expand {
            position: relative;

            img {
              max-height: 10.5rem;
              max-width: 100%;
              width: 100%;
              padding: 0;
            }
          }
        }

        .store-detail {
          width: 20.5rem;
          height: 0;
          margin-top: 0.85rem;

          .name {
            width: 100%;
            padding: 0 0.5rem;
            height: 2.25rem;
            font-family: 'rsubold';
            font-size: 1.25rem;
          }

          .detail {
            padding: 0 1rem;
            height: 3.5rem;
          }

          .store-button {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;

            button {
              width: 8rem;
              border-color: rgba($color: #000000, $alpha: 0.35);
              border-radius: 1rem;
            }
          }
        }
      }

      &.news-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .link {
          color: #f7a600;
        }

        .news-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 60%;
          bottom: 0;
          padding: 0 1rem;

          img {
            max-height: 9.5rem;
            max-width: 24.5rem;
            margin: 0.45rem 0 0 0.45rem;
          }
        }

        .news-detail {
          position: absolute;
          top: 0;
          left: 40%;
          right: 0;
          bottom: 0;

          .top {
            top: 0;
            position: inherit;
            margin: 0.75rem;
            margin-bottom: 1rem;
            width: 94%;
            height: 2.25rem;
            font-family: 'rsubold';
            font-size: 1.25rem;
          }

          .bottom {
            bottom: 0;
            position: inherit;
            margin: 0.75rem;

            &.right {
              cursor: pointer;
              right: 1rem;
            }
          }

          .middle {
            position: inherit;
            margin: 3rem 0.75rem 1rem 0.75rem;
            padding-right: 1rem;
            height: 5.5rem;
          }
        }
      }
    }
  }
}
