<nav class="navbar bg-purple text-white fixed-bottom mt-5 p-3 p-md-4 ">
  <div class="navbar-expand my-auto container-fluid">
    <div class="float-left pl-0 pl-md-3 pl-lg-5">
      <span>กรมพัฒนาธุรกิจการค้า 563 ถ.นนทบุรี ต.บางกระลอ อ.เมือง จ.นนทบุรี
        11000</span>
    </div>
    <div class="float-right pr-0 pr-md-3 pr-lg-5">
      <span>
        <fa-icon [icon]="['fas', 'phone']" [mask]="['fas', 'circle']" rotate="90" transform="shrink-7"></fa-icon>
        Call Center : 1570
      </span>
    </div>
  </div>
</nav>
