<div class="uploader border rounded w-100 mb-2" [ngClass]="{'news': isNews}">
  <div class="empty" *ngIf="!hasItem" (click)="openModal(uploadDetail)">
    <div>
      <span>
        <span class="file-icon">
          <fa-icon alt="แก้ไข" [icon]="['fas', 'plus']" size="5x"></fa-icon>
        </span>
        <br>
        <span> {{modalTitle}} </span>
      </span>
    </div>
  </div>
  <div class="d-flex align-items-center display" *ngIf="hasItem" (mouseover)="toggleEditIcon(true)"
    (mouseleave)="toggleEditIcon(false)">
    <div class="display-edit" [ngClass]="{'hover': showEditIcon}">
      <span class="file-icon">
        <fa-icon alt="แก้ไข" [icon]="['fas', 'edit']" size="3x" (click)="openModal(uploadDetail)"></fa-icon>
        <fa-icon alt="ลบข้อมูล" [icon]="['fas', 'trash-alt']" size="3x" (click)="openModal(confirm)"></fa-icon>
      </span>
    </div>
    <div class="display-content" [ngClass]="{'store-item': isStore, 'product-item': !isStore}"
      *ngIf="!isNews">
      <div [ngClass]="{'product-image': !isStore}">
        <img class="rounded" [src]="imageUrl" [ngClass]="{'border': !isStore}">
      </div>
      <div [ngClass]="{'product-detail': !isStore}" [hidden]="isStore">
        <div class="top" ellipsis> {{model.name}} </div>
        <div class="middle" ellipsis>{{model.description}}</div>
        <div class="bottom text-red" [hidden]="isPromotion">{{model.price |
          number:'1.2'}} บาท</div>
        <div class="bottom" [hidden]="isProduct">{{model.period}}</div>
      </div>
    </div>
    <div class="display-content news-item" *ngIf="isNews">
      <div class="news-image">
        <img class="rounded" [src]="imageUrl">
      </div>
      <div class="news-detail">
        <div class="top" ellipsis>{{model.topic}} </div>
        <div class="middle" ellipsis>{{model.description}}</div>
      </div>
    </div>
  </div>
</div>
<ng-template #uploadDetail let-c="close" let-d="dismiss">
  <div class="modal-header" [ngClass]="{'store': isStore}">
    <div class="col-11">
      <h5 class="text-left">{{modalTitle}}</h5>
    </div>
    <div class="col-1">
      <button type="button" class="close text-white" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row align-items-start">
      <div class="col-5">
        <app-file-upload #fileUploader [uploaderType]="uploaderType" [imageUrl]="imageUrl"></app-file-upload>
      </div>
      <div class="col-7">
        <form>
          <div class="form-group" *ngIf="isProduct">
            <div class="row">
              <div class="col-8">
                <label for="categoryName">ประเภท</label>
                <app-category-select id="categoryName" name="categoryName"
                  [(ngModel)]="model.categoryName"></app-category-select>
              </div>
              <div class="col-4">
                <label for="price">ราคา</label>
                <input class="form-control" type="number" id="price" name="price"
                  min="0" [(ngModel)]="model.price">
              </div>
              <div class="col-12 mt-3">
                <label for="name">ชื่อสินค้า</label>
                <input class="form-control" type="text" id="name" [(ngModel)]="model.name"
                  name="name" maxlength="500"> </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isPromotion">
            <div class="row">
              <div class="col-12">
                <label for="name">ชื่อรายการส่งเสริมการตลาด</label>
                <input class="form-control" type="text" id="name" [(ngModel)]="model.name"
                  name="name" maxlength="500">
              </div>
              <div class="col-12 mt-3">
                <label for="urlLink">URL</label>
                <input class="form-control" type="url" id="urlLink" [(ngModel)]="model.urlLink"
                  name="urlLink" maxlength="500">
              </div>
              <div class="col-12 mt-3">
                <label for="period">ช่วงเวลา</label>
                <input class="form-control" type="text" id="period" [(ngModel)]="model.period"
                  name="period" maxlength="200">
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isNews">
            <div class="row">
              <div class="col-12">
                <label for="name">หัวข้อข่าว</label>
                <input class="form-control" type="text" id="topic" [(ngModel)]="model.topic"
                  name="topic" maxlength="250">
              </div>
              <div class="col-12 mt-3">
                <label for="moreDetailUrl">URL</label>
                <input class="form-control" type="url" id="moreDetailUrl"
                  [(ngModel)]="model.moreDetailUrl" name="moreDetailUrl"
                  maxlength="500">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="description">รายละเอียด</label>
                <textarea class="form-control" id="description" [(ngModel)]="model.description"
                  name="description" rows="3" maxlength="2000"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isPublished"
              name="isPublished" [(ngModel)]="model.isPublished">
            <label class="form-check-label" for="isPublished">แสดงให้ร้านค้าอื่นๆ
              เห็น</label>
          </div>
          <div class="form-group">
            <button type="button" class="btn bg-orange text-white text-center"
              (click)="save(fileUploader)">บันทึกข้อมูล</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalDeleteTitle}}</h4>
  </div>
  <div class="modal-body">
    <p class="ml-4">ยืนยันการลบข้อมูลหรือไม่</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="c('delete')">ยืนยัน</button>
    <button type="button" class="btn btn-light" (click)="d(false)">ยกเลิก</button>
  </div>
</ng-template>
