<div class="p-3 bg-white table-bordered">
  <div class="preview-section d-flex flex-wrap mb-3">
    <div class="promotion col-12 mb-2">
      <div class="float-left">
        <h5>โปรโมชั่นทั้งหมด</h5>
      </div>
      <div class="float-right">
      </div>
    </div>
    <div class="col-11 mb-4">
      <div class="input-group mx-auto">
        <app-location-select id="locationSelected" name="locationSelected"
          [isSearchMode]="true" class="w-100" (ngModelChange)="doSearch()"
          [(ngModel)]="locationSelected"></app-location-select>
      </div>
    </div>
    <div class="col-1 mt-2 mb-4">
      <div class="form-check my-auto">
        <input class="form-check-input" type="checkbox" id="followingCheck"
          [(ngModel)]="isFavorite" (change)="doSearch()">
        <label class="form-check-label" for="followingCheck"> ถูกใจ </label>
      </div>
    </div>
    <div class="col-12 mt-4 text-center text-black" *ngIf="totalHits == 0">
      <h5>ไม่พบโปรโมชั่นที่สอดคล้องกับเงื่อนไขในการค้นหา กรุณาระบุเงื่อนไขอื่นๆ</h5>
    </div>
    <ng-template ngFor let-item [ngForOf]="promotionItems | async" let-i="index"
      *ngIf="totalHits > 0">
      <app-preview-item uploaderType="PROMOTION" class="col-6" [item]="item"></app-preview-item>
    </ng-template>
    <div class="col-12 mt-3" *ngIf="totalHits > 0">
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalHits"
        [(page)]="currentPage" [pageSize]="10" (pageChange)="onPageChange()"></ngb-pagination>
    </div>
  </div>
</div>
