<div class="member-preview p-3 bg-white table-bordered" *ngIf="currentStore | async as store">
  <div class="mx-auto mb-3 w-100">
    <div class="d-flex justify-content-between line-break">
      <div>
        <h4> {{shopTypName | async}} </h4>
      </div>
      <div class="d-flex">
        <div>
          <a href="#" class="link-dark" (click)="goBack($event)"> ย้อนกลับ </a>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap owner-detail">
      <div class="col-6 d-flex">
        <div>
          <label>ชื่อร้าน / บริษัท :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.storeName}}"
          ellipsis>{{store.storeName}} </div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>บริหารงานโดย :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.ownerName}}"
          ellipsis>{{store.ownerName}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>หมายเลขโทรศัพท์ :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.phone}}"
          ellipsis>{{store.phone}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>อีเมล์ :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.email}}"
          ellipsis>{{store.email}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>Facebook :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.facebookId}}"
          ellipsis>{{store.facebookId}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>Line :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.lineId}}"
          ellipsis>{{store.lineId}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>Website :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.website}}"
          ellipsis>{{store.website}}</div>
      </div>
      <div class="col-12 d-flex">
        <div>
          <label>ที่อยู่ :</label>
        </div>
        <div class="text-desc" placement="top" ngbTooltip="{{store.address}}"
          ellipsis>{{store.address}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>แขวง/ตำบล :</label>
        </div>
        <div class="text-desc">{{store.subDistrict}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>เขต/อำเภอ :</label>
        </div>
        <div class="text-desc">{{store.district}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>จังหวัด :</label>
        </div>
        <div class="text-desc">{{store.province}}</div>
      </div>
      <div class="col-6 d-flex">
        <div>
          <label>รหัสไปรษณีย์ :</label>
        </div>
        <div class="text-desc">{{store.postalCode}}</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between line-break ">
    <div>
      <h4>คำบรรยายร้านค้า</h4>
    </div>
  </div>
  <div class="d-flex mt-2 mb-4">
    <div class="px-5">
      <span ellipsis>{{store.storeDescription}}</span>
    </div>
  </div>
  <app-store-preview [ownerId]="store.id"></app-store-preview>
  <app-product-preview [ownerId]="store.id"></app-product-preview>
  <app-promotion-preview [ownerId]="store.id" *ngIf="isWholesale | async"></app-promotion-preview>
</div>
