<div id="navbar-main" [class.scroll-move]="isScrollMove">
  <nav class="navbar navbar-expand-lg navbar-dark mb-3 fixed-top" [class.shadow-lg]="isScrollMove">
    <div class="container">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <div class="logo">
          <div>
            <img src="../../../assets/logo/main-logo.png" alt=""> </div>
          <div>
            <h5> กรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์</h5>
            <span> Department of Business Development </span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed" (click)="setCollapsed()">
        <div class="navbar-toggler-icon"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" data-toggle="modal" (click)="openModal(signInModal)">เข้าสู่ระบบ</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <div class="seperate"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" data-toggle="modal" (click)="openModal(signUpModal)">สมัครสมาชิก</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ng-template #signInModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ngb-alert type="warning" class="d-none">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-body">
    <div class="row w-45 float-right">
      <div class="col-12">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <p class="text-light text-center">เข้าสู่ระบบ
              <span class="text-orange">เครื่อข่ายธงฟ้าชุมชน</span>
            </p>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control text-center" placeholder="Email"> </div>
          <div class="form-group">
            <input type="password" class="form-control text-center" formControlName="password" placeholder="Password"> </div>
          <div class="form-group">
            <button type="button" class="btn bg-orange text-white text-center" (click)="tryLogin(loginForm.value)">เข้าสู่ระบบ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ul class="nav text-white justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">ลืมรหัสผ่าน</a>
      </li>
      <li class="nav-item">
        <div class="seperate"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ช่วยเหลือ</a>
      </li>
      <li class="nav-item">
        <div class="seperate"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(signUpModal)">สมัครสมาชิกใหม่</a>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #signUpModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <ngb-alert type="warning" class="d-none">{{ errorMessage }}</ngb-alert>
    </div>
    <div class="modal-body">
      <div class="row w-45 float-right">
        <div class="col-12">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <p class="text-light text-center">สมัครสมาชิก
                <span class="text-orange">เครื่อข่ายธงฟ้าชุมชน</span>
              </p>
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control text-center" placeholder="Email"> </div>
            <div class="form-group">
              <input type="password" class="d-none" formControlName="password" placeholder="Password" value="DBD2018!"> </div>
            <div class="form-group">
              <button type="button" class="btn bg-orange text-white text-center" (click)="tryLogin(loginForm.value)">สมัครสมาชิก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ul class="nav text-white justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">ลืมรหัสผ่าน</a>
        </li>
        <li class="nav-item">
          <div class="seperate"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ช่วยเหลือ</a>
        </li>
        <li class="nav-item">
          <div class="seperate"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="d(signInModal)">เข้าสู่ระบบ</a>
        </li>
      </ul>
    </div>
  </ng-template>
