<div id="navbar-main" [class.scroll-move]="isScrollMove">
  <nav class="navbar navbar-dark mb-3 fixed-top" [ngClass]="{'navbar-expand-xl move-lg': userVerified |
    async,'navbar-expand-lg move-md': !(userVerified | async), 'shadow-lg': isScrollMove }">
    <div class="container">
      <a class="navbar-brand" routerLink="/welcome" routerLinkActive="active">
        <div class="logo">
          <div>
            <img src="../../../assets/logo/main-logo.png" alt=""> </div>
          <div class="text-left">
            <h5> กรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์</h5>
            <span> Department of Business Development </span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
        [attr.aria-expanded]="!isCollapsed" (click)="setCollapsed()" *ngIf="toggleMenu">
        <div class="navbar-toggler-icon"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"
        [ngbCollapse]="isCollapsed" *ngIf="toggleMenu">
        <ng-container *ngIf="userVerified | async; then signedIn; else needSignIn"></ng-container>
        <ng-template #signedIn>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/welcome">หน้าหลัก</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/list/events">ข่าวประชาสัมพันธ์</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/list/shop">ร้านค้าสมาชิก</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/list/product">สินค้า</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/list/promotion">โปรโมชั่น</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/webboard">เว็บบอร์ด</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/contact">ติดต่อเรา</a>
            </li>
            <li class="nav-item d-none" [ngClass]="{'d-xl-block': userVerified | async,'d-lg-block': !(userVerified |
              async)}">
              <div class="seperate"></div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a class="nav-link text-orange dropdown-link" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                ngbDropdownToggle (click)="$event.preventDefault()">
                <span class="d-inline-block text-truncate dropdown-name">
                  {{displayName | async}} </span>
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-orange" routerLinkActive="active"
                  routerLink="/member/info"> ข้อมูลทั่วไป </a>
                <a class="nav-link text-orange" routerLinkActive="active"
                  routerLink="/member/shop"> {{shopTypName | async}} </a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-orange" routerLinkActive="active"
                  (click)="tryLogout()"> ออกจากระบบ </a>
              </div>
            </li>
          </ul>
        </ng-template>
        <ng-template #needSignIn>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" data-toggle="modal"
                (click)="openModal(signInModal)">เข้าสู่ระบบ</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <div class="seperate"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" data-toggle="modal"
                (click)="openModal(signUpModal)">สมัครสมาชิก</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
<ng-template #signInModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ngb-alert type="warning" class="d-none">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-body">
    <div class="row w-45 float-right">
      <div class="col-12">
        <form [formGroup]="signInForm">
          <div class="form-group">
            <p class="text-light text-center">เข้าสู่ระบบ <span class="text-orange">เครื่อข่ายธงฟ้าชุมชน</span>
            </p>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control text-center"
              placeholder="Email" maxlength="100" (keydown)="onKeyDownSignIn($event)"
              appAutofocus> </div>
          <div class="form-group">
            <input type="password" class="form-control text-center"
              formControlName="password" placeholder="Password" maxlength="100"
              (keydown)="onKeyDownSignIn($event)">
          </div>
          <div class="form-group">
            <button type="button" class="btn bg-orange text-white text-center"
              (click)="tryLogin(signInForm.value)">เข้าสู่ระบบ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(forgotPasswordModal)">ลืมรหัสผ่าน</a>
      </li>
      <li class="nav-item">
        <div class="seperate"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(signUpModal)">สมัครสมาชิกใหม่</a>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #signUpModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ngb-alert type="warning" class="d-none">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-body">
    <div class="row w-45 float-right">
      <div class="col-12">
        <form [formGroup]="signUpForm">
          <div class="form-group">
            <p class="text-light text-center">สมัครสมาชิก <span class="text-orange">เครื่อข่ายธงฟ้าชุมชน</span>
            </p>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control text-center"
              placeholder="Email" maxlength="100" (keydown)="onKeyDownSignUp($event)"
              appAutofocus> </div>
          <div class="form-group">
            <input type="password" class="form-control text-center"
              formControlName="password" placeholder="Password" maxlength="100"
              (keydown)="onKeyDownSignUp($event)">
          </div>
          <div class="form-group">
            <button type="button" class="btn bg-orange text-white text-center"
              (click)="tryRegister(signUpForm.value)">สมัครสมาชิก</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(forgotPasswordModal)">ลืมรหัสผ่าน</a>
      </li>
      <li class="nav-item">
        <div class="seperate"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(signInModal)">เข้าสู่ระบบ</a>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #forgotPasswordModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ngb-alert type="warning" class="d-none">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-body">
    <div class="row w-45 float-right">
      <div class="col-12">
        <form [formGroup]="forgotPasswordForm">
          <div class="form-group">
            <p class="text-light text-center">รีเซ็ทรหัสผ่าน </p>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control text-center"
              placeholder="Email" maxlength="100" (keydown)="onKeyDownForgotPassword($event)"
              appAutofocus> </div>
          <div class="form-group">
            <button type="button" class="btn bg-orange text-white text-center"
              (click)="tryResetPassword(forgotPasswordForm.value)">รีเซ็ทรหัสผ่าน</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(signInModal)">เข้าสู่ระบบ</a>
      </li>
      <li class="nav-item">
        <div class="seperate"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="d(signUpModal)">สมัครสมาชิกใหม่</a>
      </li>
    </ul>
  </div>
</ng-template>
