.navbar {
  .logo {
    div {
      float: left;
      margin-right: 0.5rem;
      img {
        width: 5.5rem;
      }
      h5,
      h6 {
        margin: 0;
        line-height: 1.25rem;
      }
    }
  }
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
  .seperate {
    position: relative;
    top: 0.85rem;
    height: 0.8rem;
    border-right: 0.1rem solid #d6d6d6;
    margin: 0 0.2rem;
  }
}
