<div class="qoute d-flex flex-column text-center">
  <div class="my-2 mx-auto">
    <h5>เครื่อข่ายร้านค้าปลีกชุมชน ร้านค้าส่งค้าปลีก</h5>
  </div>
  <div class="my-2 mx-auto">
    <h5>และผู้ผลิตผู้จำหน่ายสินค้าอุปโภคบริโภค</h5>
  </div>
</div>
<div class="welcome d-flex flex-column flex-md-row  mt-3 bg-white border">
  <img class="m-0 align-self-center" src="../../../../assets/home/welcome.jpg" alt="Welcome">
  <div class="px-3 py-2">
    <h5 class="font-weight-bold ">เครื่อข่ายธงฟ้าชุมชน</h5>
    <p class="text-justify"> กรมพัฒนาธุรกิจการค้า มีภารกิจสำคัญประการหนึ่งคือการพัฒนาธุรกิจร้านค้าส่งค้าปลีก และร้านค้าชุมชน ให้มีศักยภาพทั้งในด้านการบริหารจัดการ
      การบริการ การตลาด บัญชีและการเงินเป็นต้น รวมทั้งการปรับภาพลักษณ์ร้านค้าชุมชนให้ทันสมัย และการสร้างเครือข่ายทางธุรกิจระหว่างผู้ผลิตสินค้าอุปโภคบริโภค
      ร้านค้าส่งค้าปลีก และร้านค้าชุมชน เพื่อให้เกิดการซื้อขายสินค้าที่สะดวกรวดเร็วในต้นทุนที่ต่ำ อันเป็นการส่งเสริมร้านค้าปลีกชุมชนให้เข้มแข็ง
      กรมพัฒนาธุรกิจการค้าจึงได้พัฒนาเว็บไซด์ เครื่อข่ายธงฟ้าชุมชน เพื่อเป็นเครื่อข่ายของผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก
      และร้านค้าปลีกชุมชน </p>
  </div>
</div>
<div class="row mt-4 justify-content-center">
  <h5 class="font-weight-bold">วัตถุประสงค์</h5>
</div>
<div class="row mb-4 justify-content-center">
  <h5>เป็นศูนย์กลางการติดต่อสื่อสารทางธุรกิจระหว่างผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก และร้านค้าชุมชน </h5>
</div>
<div class="network d-flex justify-content-around text-orange">
  <div class="text-center">
    <img src="../../../../assets/home/shop-1.png" alt="ร้านค้าปลีก">
    <div>
      <h5>ร้านค้าปลีก</h5>
    </div>
  </div>
  <div class="text-center">
    <img src="../../../../assets/home/shop-2.png" alt="ร้านค้าส่ง ค้าปลีก">
    <div>
      <h5>ร้านค้าส่ง ค้าปลีก</h5>
    </div>
  </div>
  <div class="text-center">
    <img src="../../../../assets/home/shop-3.png" alt="ผู้ผลิต ผู้จำหน่าย">
    <div>
      <h5>ผู้ผลิต ผู้จำหน่าย</h5>
    </div>
  </div>
</div>
<div class="service">
  <div class="row">
    <div class="col-md-6 col-sm-12 content left seperate">
      <div class="limit">
        <h5 class="font-weight-bold">บริการของเว็บไซต์</h5>
        <p class="text-justify">เว็บไซด์เครือข่ายธงฟ้าชุมชน มีวัตถุประสงค์เพื่อการติดต่อสื่อสารระหว่างผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก
          และร้านค้าชุมชน เพื่อการเสนอขายสินค้า การเสนอโปรโมชั่นสินค้า การเสนอความสนใจต้องการซื้อสินค้า การแลกเปลี่ยนข้อมูลข่าวสารและความคิดเห็นระหว่างกัน
          เว็บไซด์นี้มิได้มีวัตถุประสงค์การการซื้อขายสินค้าทางออนไลน์
        </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 content right">
      <div class="limit">
        <h5 class="font-weight-bold">หน่วยงานรับผิดชอบ</h5>
        <div>
          <img src="../../../../assets/home/logo.png" alt="DBD"> </div>
      </div>
    </div>
  </div>
</div>
