<div class="d-flex justify-content-between mx-auto mb-3 line-break">
  <div>
    <h4>ข้อมูลร้านค้าปลีก</h4>
  </div>
  <div>
  </div>
</div>
<div class="member-upload d-flex flex-wrap mb-3">
  <div class="store col-12 mb-2">
    <h5>ภาพถ่ายร้าน</h5>
  </div>
  <ng-template ngFor let-item [ngForOf]="storeItems | async" let-i="index">
    <app-member-upload uploaderType="STORE" class="col-6" [item]="item"></app-member-upload>
  </ng-template>
  <app-member-upload uploaderType="STORE" class="col-6" ></app-member-upload>
</div>
<div class="member-upload d-flex flex-wrap mb-3 text-orange">
  <div class="product col-12 mb-2">
    <h5>รายการสินค้าหลักที่จำหน่าย</h5>
  </div>
  <ng-template ngFor let-item [ngForOf]="productItems | async" let-i="index">
    <app-member-upload uploaderType="PRODUCT" class="col-6" [item]="item"></app-member-upload>
  </ng-template>
  <app-member-upload uploaderType="PRODUCT" class="col-6" ></app-member-upload>
</div>
