<div class="p-3 bg-white table-bordered">
  <div class="preview-section d-flex flex-wrap mb-3">
    <div class="store col-12 mb-2">
      <div class="float-left">
        <h5>ร้านค้าสมาชิก</h5>
      </div>
      <div class="float-right">
      </div>
    </div>
    <div class="col-7 mb-4">
      <div class="input-group mx-auto">
        <app-location-select id="locationSelected" name="locationSelected"
          [isSearchMode]="false" class="w-100" (ngModelChange)="doSearch()"
          [(ngModel)]="locationSelected"></app-location-select>
      </div>
    </div>
    <div class="col-5 mt-2 mb-4">
      <div class="input-group mx-auto">
        <select class="form-control mr-4" [(ngModel)]="memberType" (change)="doSearch()">
          <option value="NONE">ประเภทร้านค้า</option>
          <option value="C-RETAIL">ร้านค้าปลีก</option>
          <option value="C-WHOLESALE">ร้านค้าส่ง ค้าปลีก</option>
          <option value="C-DEALER">ผู้ผลิต ผู้จำหน่าย</option>
        </select>
        <div class="form-check my-auto">
          <input class="form-check-input" type="checkbox" id="followingCheck"
            [(ngModel)]="isFavorite" (change)="doSearch()">
          <label class="form-check-label" for="followingCheck"> ถูกใจ </label>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4 text-center text-black" *ngIf="totalHits == 0">
      <h5>ไม่พบร้านค้าที่สอดคล้องกับเงื่อนไขในการค้นหา กรุณาระบุเงื่อนไขอื่นๆ</h5>
    </div>
    <ng-template ngFor let-item [ngForOf]="storeItems | async" let-i="index"
      *ngIf="totalHits > 0">
      <app-preview-item uploaderType="STORE" class="col-4" [item]="item"></app-preview-item>
    </ng-template>
    <div class="col-12 mt-3" *ngIf="totalHits > 0">
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalHits"
        [(page)]="currentPage" [pageSize]="9" (pageChange)="onPageChange()"
        [maxSize]="10" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
