<div class="p-3 bg-white table-bordered">
  <div class="mx-auto mb-3">
    <img src="../../../../assets/register/register.png" class="w-100"> </div>
  <div *ngIf="showPlan">
    <div class="mx-auto mb-3 line-break">
      <h4>เลือกประเภทสมาชิก</h4>
    </div>
    <div class="card-columns text-center mb-3">
      <div class="card">
        <img class="card-img-top" src="../../../../assets/home/shop-1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ร้านค้าปลีก</h4>
          <p class="card-text">การสร้างเครือข่ายทางธุรกิจระหว่างผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก และร้านค้าชุมชน เพื่อให้เกิดการซื้อขายสินค้าที่สะดวกรวดเร็วในต้นทุนที่ต่ำ
            อันเป็นการส่งเสริมร้านค้าปลีกชุมชนให้เข้มแข็ง กรมพัฒนาธุรกิจการค้าจึงได้พัฒนาเว็บไซด์ เครื่อข่ายธงฟ้าชุมชน
          </p>
          <button class="btn" (click)="choosePlan(1)">สมัครสมาชิก ร้านค้าปลีก</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../../assets/home/shop-2.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ร้านค้าส่ง ค้าปลีก</h4>
          <p class="card-text">การสร้างเครือข่ายทางธุรกิจระหว่างผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก และร้านค้าชุมชน เพื่อให้เกิดการซื้อขายสินค้าที่สะดวกรวดเร็วในต้นทุนที่ต่ำ
            อันเป็นการส่งเสริมร้านค้าปลีกชุมชนให้เข้มแข็ง กรมพัฒนาธุรกิจการค้าจึงได้พัฒนาเว็บไซด์ เครื่อข่ายธงฟ้าชุมชน
          </p>
          <button class="btn" (click)="choosePlan(2)">สมัครสมาชิก ร้านค้าส่ง ค้าปลีก</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../../assets/home/shop-3.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ผู้ผลิต ผู้จำหน่าย</h4>
          <p class="card-text">การสร้างเครือข่ายทางธุรกิจระหว่างผู้ผลิตสินค้าอุปโภคบริโภค ร้านค้าส่งค้าปลีก และร้านค้าชุมชน เพื่อให้เกิดการซื้อขายสินค้าที่สะดวกรวดเร็วในต้นทุนที่ต่ำ
            อันเป็นการส่งเสริมร้านค้าปลีกชุมชนให้เข้มแข็ง กรมพัฒนาธุรกิจการค้าจึงได้พัฒนาเว็บไซด์ เครื่อข่ายธงฟ้าชุมชน
          </p>
          <button class="btn" (click)="choosePlan(3)">สมัครสมาชิก ผู้ผลิต ผู้จำหน่าย</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showInfo">
    <app-member-info mode="register"></app-member-info>
  </div>
  <div *ngIf="showRetail">
    <app-member-retail [ownerId]="memberId"></app-member-retail>
  </div>
  <div *ngIf="showWholesale">
    <app-member-wholesale [ownerId]="memberId"></app-member-wholesale>
  </div>
  <div *ngIf="showDealer">
    <app-member-dealer [ownerId]="memberId"></app-member-dealer>
  </div>
</div>
