<div class="d-flex justify-content-between mx-auto mb-3 line-break">
  <div>
    <h4>ข้อมูลทั่วไป</h4>
  </div>
  <div>
    <a href="#" class="link-dark" (click)="goBack($event)">
      ย้อนกลับ
    </a>
  </div>
</div>
<div class="mx-auto mb-3">
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-7">
      <form [formGroup]="userInfoForm">
        <div class="form-group">
          <label for="storeName">ชื่อร้านค้า / บริษัท</label>
          <input class="form-control" type="text" formControlName="storeName" id="storeName" placeholder="กรอกชื่อร้านค้า / บริษัท">
          <div *ngIf="submitted && form.storeName.errors" class="invalid-feedback">
            <div *ngIf="form.storeName.errors.required">กรุณาระบุชื่อร้านค้า / บริษัท</div>
          </div>
        </div>
        <div class="form-group">
          <label for="ownerName">ชื่อผู้บริหาร</label>
          <input class="form-control" type="text" formControlName="ownerName" id="ownerName" placeholder="กรอกชื่อผู้บริหาร">
          <div *ngIf="submitted && form.ownerName.errors" class="invalid-feedback">
            <div *ngIf="form.ownerName.errors.required">กรุณาระบุชื่อผู้บริหาร</div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="phone">หมายเลขโทรศัพท์</label>
              <input class="form-control" type="text" formControlName="phone" id="phone" placeholder="หมายเลขโทรศัพท์">
            </div>
            <div class="col">
              <label for="email">อีเมล์</label>
              <input class="form-control" type="email" formControlName="email" id="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="facebook">Facebook</label>
              <input class="form-control" type="text" formControlName="facebook" id="facebook" placeholder="Facebook">
            </div>
            <div class="col">
              <label for="line">Line</label>
              <input class="form-control" type="text" formControlName="line" id="line" placeholder="Line">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">ที่อยู่</label>
          <textarea class="form-control" formControlName="address" id="address" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="website">เว็บไซต์</label>
          <input class="form-control" type="text" formControlName="website" id="website" placeholder="เว็บไซต์">
        </div>
        <div class="form-group">
          <button type="button" class="btn" (click)="tryUpdateUser(userInfoForm.value)">ยืนยันข้อมูล</button>
        </div>
      </form>
    </div>
  </div>
</div>
