<div class="search-bar" *ngIf="toogleSearchBar">
  <div class="d-flex-fluid my-4">
    <div class="input-group mx-auto frame">
      <input type="search" aria-label="search" [(ngModel)]="keyword" placeholder="พิมพ์ข้อมูลที่ต้องการค้าหา" class="form-control text">
      <select class="form-control list" [(ngModel)]="searchType">
        <option value="shop">ร้านค้า: ทั้งหมด</option>
        <option value="product">สินค้า: ทั้งหมด</option>
        <option value="promotion">โปรโมชั่น: ทั้งหมด</option>
      </select>
      <div class="input-group-append icon">
        <span class="input-group-text" (click)="doSearch()">
          <i class="fa fa-search" alt="ค้นหา" ></i>
        </span>
      </div>
    </div>
  </div>
</div>
