<div class="search-bar" *ngIf="toogleSearchBar">
  <div class="d-flex-fluid mt-2 mb-4">
    <div class="input-group mx-auto frame">
      <input type="search" aria-label="search" [(ngModel)]="keyword"
        placeholder="พิมพ์ข้อมูลที่ต้องการค้นหา" class="form-control text"
        (keydown)="onKeyDownSearch($event)" (blur)="onBlurKeyword()">
      <select class="form-control list" [(ngModel)]="searchType">
        <option value="shop|1">ร้านค้า: ทั้งหมด</option>
        <option value="shop|2">ร้านค้า: เฉพาะที่ถูกใจ</option>
        <option value="product|1">สินค้า: ทั้งหมด</option>
        <option value="product|2">สินค้า: เฉพาะที่ถูกใจ</option>
        <option value="promotion|1">โปรโมชั่น: ทั้งหมด</option>
        <option value="promotion|2">โปรโมชั่น: เฉพาะที่ถูกใจ</option>
      </select>
      <div class="input-group-append icon">
        <span class="input-group-text" (click)="doSearch()">
          <fa-icon alt="ค้นหา" [icon]="['fas', 'search']" size="2x" transform="shrink-4"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>
