.search-bar {
  clear: both;

  .frame {
    width: 65%;

    .text {
      width: 55%;
    }

    .list {
      width: 35%;
    }

    .icon {
      width: 10%;

      span {
        cursor: pointer;
        width: 100%;

        fa-icon {
          color: #5b2d90;
          position: absolute;
          margin: 0.15rem 0.45rem;
        }
      }
    }
  }
}
