<div class="search-bar" *ngIf="toogleSearchBar">
  <div class="d-flex-fluid mt-2 mb-4">
    <div class="input-group mx-auto frame">
      <input type="search" aria-label="search" [(ngModel)]="keyword"
        placeholder="พิมพ์ข้อมูลที่ต้องการค้นหา" class="form-control text"
        (keydown)="onKeyDownSearch($event)">
      <select class="form-control list" [(ngModel)]="searchType" (change)="onChange($event)">
        <option value="shop">ร้านค้า: ทั้งหมด</option>
        <option value="shop">ร้านค้า: เฉพาะที่ถูกใจ</option>
        <option value="product">สินค้า: ทั้งหมด</option>
        <option value="product">สินค้า: เฉพาะที่ถูกใจ</option>
        <option value="promotion">โปรโมชั่น: ทั้งหมด</option>
        <option value="promotion">โปรโมชั่น: เฉพาะที่ถูกใจ</option>
      </select>
      <div class="input-group-append icon">
        <span class="input-group-text" (click)="doSearch()">
          <i class="fa fa-search" alt="ค้นหา"></i>
        </span>
      </div>
    </div>
  </div>
</div>
