<div class="news-carousel" *ngIf="newsItems | async as items">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of items">
      <div class="d-flex">
        <div class="col-5">
          <img class="item" [src]="item.imageUrl">
        </div>
        <div class="col-7 my-auto">
          <div class="top line-break" ellipsis> {{item.topic}} </div>
          <div class="middle" ellipsis> {{item.description}} </div>
          <div class="bottom right" >
              <a [href]="item.moreDetailUrl" class="link" target="_blank">อ่านเพิ่มเติม</a>
            </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
